/**
 * Custom overrides to the installed theme.
 * Keep these minimal.
 */

/* Justify all markdown blog posts (but be careful of justifying titles) */
.content p, .content li {
  text-align: justify;
}

/* Hoverable info bubbles */
/* https://www.w3schools.com/css/css_tooltip.asp */
.info-bubble {
  cursor: help;
  display: inline-block;
  font-size: 60%;
  position: relative;
  top: -0.5em;
}
.info-bubble .info-text {
  background-color: #202020;
  border-radius: 5px;
  bottom: 100%;
  color: #fff;
  left: 50%;
  margin-left: -100px;
  padding: 5px;
  position: absolute;
  text-align: center;
  visibility: hidden;
  width: 200px;
  z-index: 1;
}
.info-bubble:hover .info-text {
  visibility: visible;
}
.info-bubble .info-text::after {
  border-color: #202020 transparent transparent transparent;
  border-style: solid;
  border-width: 5px;
  content: " ";
  left: 50%;
  margin-left: -5px;
  position: absolute;
  top: 100%;
}

/* Tweak the sidebar to make space for an image */
.sidebar img {
  margin: auto;
  max-width: 280px;
  width: 100%;
}
.sidebar-about h1 {
  margin-top: 0;
  font-family: "Bebas Neue", sans-serif;
  font-size: 2.9rem;
}

.top-posts {
  margin: 20px 0 0 0;
}

/* Offer a smaller inline image for embedding tall images. */
.inline-image {
  float: left;
  margin: 10px 20px 10px 0;
  width: 40%;
}

/* Organize the index.html posts into a responsive list */
.thumbnail {
  display: block;
  float: left;
  height: 100px;
  object-fit: cover;
  width: 175px;
  margin: 0 10px 25px 0;
}
.thumbnail-text {
  height: 100px;
  margin-bottom: 25px;
  text-align: left !important;
}
@media (min-width: 68em) {
  .thumbnail {
    height: 200px;
    width: 350px;
    margin: 0 10px 50px 0;
  }
  .thumbnail-text {
    height: 200px;
    margin-bottom: 50px;
  }
}

/* Remove spacing and weird theme coloring around inline code and math. */
code {
  color: inherit;
  background: none;
  padding: 0;
}
/* Horizontal scroll long code lines. From https://stackoverflow.com/a/23393920 */
.highlight pre {
  overflow-x: auto;
  word-wrap: normal;
}
.highlight pre code {
  white-space: pre;
}
