/**
 * Custom overrides to the installed theme.
 * Keep these minimal.
 */

/* Justify all markdown blog posts (but be careful of justifying titles) */
.content p {
  text-align: justify;
}

/* Hoverable info bubbles */
.info-bubble {
  cursor: help;
  font-size: 60%;
  position: relative;
  top: -0.5em;
}

/* Tweak the sidebar to make space for an image */
.sidebar img {
  margin: auto;
  max-width: 280px;
  width: 100%;
}
.sidebar-about h1 {
  margin-top: 0;
  font-family: "Bebas Neue", sans-serif;
  font-size: 2.9rem;
}

.top-posts {
  margin: 20px 0 0 0;
}

/* Offer a smaller inline image for embedding tall images. */
.inline-image {
  float: left;
  margin: 10px 20px 10px 0;
  width: 40%;
}

/* Organize the index.html posts into a responsive list */
.thumbnail {
  display: block;
  float: left;
  height: 100px;
  object-fit: cover;
  width: 175px;
  margin: 0 10px 25px 0;
}
.thumbnail-text {
  height: 100px;
  margin-bottom: 25px;
  text-align: left !important;
}
@media (min-width: 68em) {
  .thumbnail {
    display: block;
    float: left;
    height: 200px;
    object-fit: cover;
    width: 350px;
    margin: 0 10px 50px 0;
  }
  .thumbnail-text {
    height: 200px;
    margin-bottom: 50px;
  }
}

/* Remove spacing and weird theme coloring around inline code */
code {
  color: inherit;
  background: none;
  padding: 0;
}
/* Horizontal scroll long code lines. From https://stackoverflow.com/a/23393920 */
.highlight pre code * {
  white-space: nowrap;
}
.highlight pre {
  overflow-x: auto;
}
.highlight pre code {
  white-space: pre;
}
