{% comment %}
This is a readable shim for defining custom markdown syntax.
Idea from https://alexgude.com/blog/custom-markdown-for-github-pages/
{% endcomment %}

{% comment %}
Make hoverable info bubbles for non-essential comments.
Markdown usage: ⓘ/Non-essential comment here./ⓘ
{% endcomment %}
{% assign output = content
    | replace: 'ⓘ/', '<span class="info-bubble">💬<span class="info-text">'
    | replace: '/ⓘ', '</span></span>'
%}

{% comment %}
Embed youtube videos into markdown.
Markdown usage: 🎥/QaKSekjAnqY/🎥
Custom args: 🎥/QaKSekjAnqY?t=100?🎥
{% endcomment %}
{% assign output = output
    | replace: '🎥/', '<iframe width="720" height="405" src="https://www.youtube.com/embed/'
    | replace: '/🎥', '?color=white&amp;theme=light">&nbsp;</iframe>'
    | replace: '?🎥', '&amp;color=white&amp;theme=light">&nbsp;</iframe>'
%}

{{ output }}
